<h2> Edit User</h2>
<%= form_for [:admin, @user] do |f|%>
    <!--check for errors-->
    <%if @user.errors.any?%>
      <% @user.errors.full_messages.each do |msg| %>
        <!--show errors-->
        <div class="alert-danger"><%= msg %></div>
      <% end %>
    <% end %>

    <div class="form-group">
       <%= f.label :name %>
       <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
       <%= f.label :email %>
       <%= f.select :email,  class: 'form-control'%>
    </div>

    <div class="form-group">
       <%= f.label :new_password %>
       <%= f.password_field :new_password, class: 'from-control'%>
    </div>

    <div class="form-group">
       <%= f.label :new_password_confirmation %>
       <%= f.password_field :new_password_confirmation, class: 'from-control'%>
    </div>
    <br>
   <%= f.submit "submit", class:'btn btn-primary'%>
   <%=link_to 'Cancel', admin_users_path, class:'btn btn-default'%>

<% end %>

